<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud Medical System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/">Cloud Medical System</a>

        <div class="navbar-nav">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/admin/patients">Admin</a>
            <a class="nav-link" href="/doctor/visit">Doctor</a>
            <a class="nav-link" href="/pharmacist/">Pharmacist</a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    {% block content %}{% endblock %}
</div>

</body>
</html>